*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Cinzel';  
  background: #16161A;
}

.container{
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/fundo.png");
  margin-bottom: 120px;
}

.header{
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction:row;
  justify-content: space-around;
  width: 100%;
  margin-top: 16px;
  gap: 60px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
}

.menu ul li{
  display: flex;
  align-items: center;
}

.menu ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 135px;
  background-color: #5092D2;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 5px;
  font-family: 'Cinzel';  
  font-weight: 500;
  cursor: pointer;
}

.container-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.text{
  position: absolute;
  top: 140px;
  left: 160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text h1{
  color: #FFFFFF;
  font-size: 45px;
  text-transform: uppercase;
}

.text p{
  color: #FFFFFF;
  width: 460px;
}

.text-menu-button{
  display: flex;
  gap: 18px;
}

.text-menu-button-1{
  height: 40px;
  width: 135px;
  background-color: #5092D2;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 5px;
  font-family: 'Cinzel';  
  font-weight: 500;
  cursor: pointer;
}

.text-menu-button-2{
  height: 40px;
  width: 115px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  color: #FFFFFF;
  font-family: 'Cinzel';
  text-transform: uppercase;
  cursor: pointer;
}

.container-text-img{
  position: absolute;
  width: 745px;
  top: 90px;
  left: 595px;
}

.container-text-video{
  position: absolute;
  bottom: 95px;
  right: 138px;
  display: flex;
  width: 320px;
}

.play-video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 165px;
  right: 275px;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.play-video img{
  width: 20px;
}

.line{
  position: absolute;
  top: 550px;
  width: 98vw;
  height: 50px;
}

.section-3 h1{
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin-bottom: 100px;
  font-size: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.section-4{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}

.card{
  height: 250px;
  background-image: url("./images/fundo.png");
}

.freya{
  border: 1px solid #5092D2;
  height: 265px;
}

.card img{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  width: 200px;
  margin-top: -20px;
}

.card h3{
  display: flex;
  justify-content: center;
  margin-top: -30px;
  color: #FFFFFF;
  padding: -30px 0px 0 0;
}

.span-1{
  font-size: 55px;
}

.span-2{
  font-size: 35px;
}

.button-section-4{
  display: flex;
  align-items: center;
}

.button-section-4 img{
  width: 10px;
  cursor: pointer;
}


