*{
  margin: 0;
  padding: 0;
  background: #17171A;

}

body{
  font-family: 'Cinzel';
}

.container{
  background: #17171A;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}





