*{
  margin: 0;
  padding: 0;
  background: #17171A;

}

body{
  font-family: 'Cinzel';
}

.container{
  background: #fff;
  top: 80%;
  left: 50%;
  width: 170vh;
  height: 80vh;
  transform: translate(-50%, -50%);
  position: absolute;
}

.container-tittle{
  width: 100vh;
  height: 3px;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: flex;
  align-items: center;
}

.menu{
  display: flex;
  top: -80px;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.img-tittle{
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 70vh;
  height: auto;
}

.img-logo{
  width:17vh;
  height: auto;
  float: right;
}

.img-logo-2{
  width: 50vh;
}

.menu ul{
  display: flex;
  gap: 40px;
}

.menu ul li a{
  display: flex;
}


